section {
    margin: 0 auto;
}

.maincontent {
    display: flex;
}

.filter-options {
    height: auto;
    padding: 0.8em 0;
}

#restaurants-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul, menu, dir {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}

@media screen and (min-width: 600px) {
    #restaurants-list li  {
        max-width: calc(50% - 94px);
    }
} 

@media screen and (min-width: 900px) {
    #restaurants-list li  {
        max-width: calc(33.333% - 94px);
    }
} 