#breadcrumb {
    padding: 10px 0 16px 40px;
    list-style: none;
    background-color: #eee;
    font-size: 1em;
    margin: 0;
    width: calc(100% - 40px);
}

/* Display list items side by side */

#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */

#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */

#breadcrumb li a {
    color: #1E71A9;
    text-decoration: none;
    display: inline-block;
    padding: 0.75em 0;
}

/* Add a color on mouse-over */

#breadcrumb li a:hover {
    color: #1E71A9;
    text-decoration: underline;
}

/* ====================== Restaurant Details ====================== */
section {
    width: 100%;
}

#maincontent {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    position: relative;
    overflow: scroll;
    grid-template-areas:
        "restaurant-wrapper"
        "map-container";
}

#restaurant-wrapper {
    grid-area: restaurant-wrapper;
}

#map-container {
    background: blue none repeat scroll 0 0;
    grid-area: map-container;
    min-height: 400px;
    overflow: hidden;
}

#restaurant-container {
    grid-area: restaurant-container
}

#reviews-container {
    grid-area: reviews-container
}

#restaurant-container,
#reviews-container {
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #fff;
    width: calc(100% - 2em);
    min-height: 100%;
    padding: 1em;
}

#map {
    min-height: 400px;
    height: 100%;
}

#restaurant-name {
    color: #B26000;
    font-family: Arial, sans-serif;
    font-size: 0.8em;
    font-weight: 200;
    letter-spacing: 0;
    text-transform: uppercase;
    line-height: 1.1;
    display: inline-block;
}

#restaurant-favorite {
    display: inline;    
}

#restaurant-img {
    max-width: max-content;
    width: 100%;
    height: auto;
}

#restaurant-address {
    font-size: 1.2em;
}

#restaurant-cuisine {
    background-color: #020203;
    color: #ddd;
    font-size: 1.2em;
    font-weight: 300;
    letter-spacing: 10px;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    color: #B26000;
    font-size: 2em;
    font-weight: 300;
    letter-spacing: -1px;
    padding-bottom: 1pt;
}

#reviews-container {
    border: 2px solid #f3f3f3;
    display: block;
    list-style-type: none;
    margin: 0 0 30px;
    padding: 20px 0;
}


#reviews-list li {
    background-color: #fff;
    border: 2px solid #f3f3f3;
    display: block;
    list-style-type: none;
    margin: 0 0 30px;
    padding: 0 20px 20px;
    width: 85%;
}

#reviews-list li p {
    margin: 0 0 10px;
}

#restaurant-hours td {
    color: #666;
}

#restaurant-container label {
    display: none;
}

select, input, textarea {
    background-color: white;
    border: 1px solid #fff;
    font-family: Arial, sans-serif;
    font-size: 0.9em;
    letter-spacing: 0;
    margin: 10px 0;
}

select, input, button {
    height: 35px;
}

input, textarea, select {
    width: 100%;
}

#reviews-form-container {
    border-top: 1px solid #d9d9d9;
    margin: 0 0 30px;
    padding: 20px 0;
}

#reviews-form {
    width: 85%;
    height: auto;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px 20px;
}

.review-required {
    color: red;
    font-size: 14;
}

.review-fullwidth, #review-submit, #review-reset {
    width: calc(100% - 20px) ;
    padding: 0 10px;
}

#review-submit {
    background-color: #B26000;
}

#review-reset {
    background-color: #2C8800;   
}

#review-errors-container {
    margin: 0 10px 20px;
    background-color: white;
    padding: 0 0 10px;
}

#review-errors-header {
    background: #b26000;
    font-weight: bold;
    color: white;
    margin: 0;
    text-align: center;
    padding: 5px 0;
}

@media screen and (min-width: 800px) {
    #maincontent {
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr;
        grid-template-areas: 
            "restaurant-wrapper map-container";
        overflow: hidden;
    }

    #restaurant-wrapper {
        position: absolute;
        overflow: scroll;
        height: 100%;
    }

    #map {
        height: 100vh;
    }
}