#toast-container {
    width: 300px;
    height: 160px;
    opacity: 0;
    transform: translateY(-100%);
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
    background-color: #217CB9;
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 10px;
    margin: -80px 0 0 -150px;
    z-index: 1000;
    display: none;
}

#toast-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
    background-color: rgba(0,0,0,0.7);
    z-index: 100;
    display: none;
}

#toast-container h3, #toast-container div {
    color: #FFF;
    margin: 10px;
}

#toast-container button {
    color: #FFF;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

#toast-refresh {
    background-color: #B26000;
}

#toast-close {
    background-color: #2C8800;   
}

#toast-container button:hover, #toast-container button:focus {
    color: #000;
}

#toast-container[aria-hidden="false"] {
    transform: translateY(0%);
    opacity: 1;
    display: block;
}

#toast-overlay[aria-hidden="false"] {
    display: block;
}